@import "_reset.less";
@import "_mixins.less";
@import "_grid.less";

/* @group colors */

@color-accent: #278a9a;

/* @end */

/* @group fonts */

.font-family {
	font-family: "proxima-nova", sans-serif;
}
.thin {
	font-weight: 100;
}
.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.extrabold {
	font-weight: 800;
}

/* @end */

/* @group text formatting */

h1 {
	@color: #FFF;
	@color-shadow: darken(@color, 20%);
	font-size: 7em;
	text-transform: uppercase;
	margin: 0 0 0.2em;
	.extrabold;
	letter-spacing: -0.04em;
	color: @color;
	line-height: 1;
	
	.text-shadow(~"0px 1px 0px @{color-shadow}, 0px 2px 0px @{color-shadow}, 0px 3px 0px @{color-shadow}, 0px 4px 0px @{color-shadow}, 0px 5px 0px @{color-shadow}, 0px 6px 0px @{color-shadow}, 0px 6px 0px @{color-shadow}, 0px 11px 8px rgba(0,0,0,0.5)");
	
	strong {
		@color: #555;
		.light;
		color: @color;
		letter-spacing: 0;
		
		.text-shadow(~"0px 1px 0px @{color-shadow}, 0px 2px 0px @{color-shadow}, 0px 3px 0px @{color-shadow}, 0px 4px 0px @{color-shadow}, 0px 5px 0px @{color-shadow}, 0px 6px 0px @{color-shadow}, 0px 6px 0px @{color-shadow}, 0px 7px 0px @{color-shadow}, 0px 11px 8px rgba(0,0,0,0.5)");
	}
}

a {
	color: #000;
	.bold;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

/* @end */

/* @group forms */



/* @end */

/* @group body styles */

html, body {
	height: 100%;
}
body {
    background: #FFF;
    .font-family;
    font-size: 14px;
    .light;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/* @end */

/* @group container */

#container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* @end */

/* @group modal */

#modal-cover {
	//display: none;
	position: fixed;
	top: 0;
	left: -200%;
	z-index: 500;
	width: 200%;
	height: 100%;
	background: url(../images/modal-cover.png) no-repeat right top;
	background-size: 100% auto;
}

#modal-content {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 450;
	width: 100%;
	height: 100%;
	background: #CCC;
	text-align: center;
}

/* @end */

/* @group content sections */

#content {
	width: 100%;
	height: 100%;
}

.page {
	position: relative;
	width: 100%;
	padding-top: 70%;
	//height: 150%;
	
	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

#welcome {
	background: #F9F9F9 url(../images/welcome-bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	color: #333;
	
	.content {
		padding: 15% 20% 0 50%;
	}
	
	.item {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: url(../images/sphere-reflect.png) no-repeat fixed -100% -100%;
	}
}

#about {
	background: #222;
	background-size: 100% 100%;
	color: #CCC;
	
	.content {
		padding: 6% 55% 0 15%;
	}
	
	h1 {
		position: absolute;
		left: -7%;
		top: 41%;
		.rotate(-90deg);
	}
	
	a {
		color: #FFF;
	}
	
	.item {
		position: absolute;
		top: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		
		&.item-ipad {
			background: url(../images/about/ipad.png) no-repeat fixed 95% 110%;
			background-size: 60% auto;
		}
		
		&.item-pencil {
			background: url(../images/about/pencil.png) no-repeat fixed 95% -200%;
			background-size: 24% auto;
		}
	}
}

#team {
	background: #222;
	color: #CCC;
	
	h1 {
		text-align: center;
	}
	
	#profiles-label {
		display: block;
		font-size: 2em;
		text-align: center;
	}
	
	.profile-chooser {
		position: relative;
		width: 100%;
		background: rgba(255,255,255,0.9);
		.box-shadow(~"inset 0px 30px 25px -25px rgba(0,0,0,0.4), inset 0px -30px 25px -25px rgba(0,0,0,0.4)");
		margin: 0 auto 2%;
		overflow: hidden;
		
		> table {
			width: 100%;
			height: 30%;
			margin: 0 auto;
			
			td {
				position: relative;
				.rounded(0);
				display: block;
				background: none;
				border: none;
				
				&:nth-child(2n) {
					background: rgba(255,255,255,0.5);
				}
				
				ul {
					width: 100%;
					margin-left: -8.3333333333%;
					
					li {
						.inline-block;
						white-space: nowrap;
						width: 16.666666667%;
						background-size: 100% 100% !important;
						
						img {
							width: 100%;
						}
					}
				}
				
				.middle-line {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 50%;
					bottom: 0;
					width: 0;
					border-left: 1px dashed #999;
				}
			}
		}
	}
}

#contact {
	background: #222 url(../images/contact/left-diagonal.png) no-repeat top left;
	background-size: 100% 100%;
	overflow: hidden;
	padding-top: 60%;
	
	.content {
		padding: 9% 40% 0 10%;
		.rotate(-7deg);
		width: 97%;
	}
	
	#contact-form {
		position: absolute;
		left: 65%;
		top: 30%;
		.rotate(22deg);
		width: 42%;
		
		.input-row {
			.clearfix;
			height: 3em;
			margin: 0 0 0.5em;
			
			&.textarea-row {
				height: 6em;
			}
			
			label,
			.text-input {
				display: block;
				float: left;
				font-family: sans-serif;
				font-size: 1em;
				line-height: 3em;
				height: 100%;
				padding: 0 1em;
			}
			
			label {
				text-transform: uppercase;
				font-weight: bold;
				color: #999;
				width: 30%;
				overflow: hidden;
				background: #000;
			}
			
			.text-input {
				display: block;
				width: 70%;
				border: none;
				background: #333;
				outline: none;
				color: #CCC;
				padding-right: 24%;
			}
		}
		
		.button {
			@color: #FFF;
			@color-shadow: darken(@color, 20%);
			float: right;
			width: auto;
			padding-right: 24%;
			height: 1.5em;
			border: none;
			outline: none;
			background: none;
			font-size: 3em;
			text-transform: uppercase;
			.extrabold;
			letter-spacing: -0.04em;
			color: @color;
			text-align: center;
			
			.text-shadow(~"0px 1px 0px @{color-shadow}, 0px 2px 0px @{color-shadow}, 0px 3px 0px @{color-shadow}, 0px 4px 0px @{color-shadow}, 0px 8px 8px rgba(0,0,0,0.5)");
		}
	}
}

/* @end */









@import "_media.less";
