@import "_reset.less";
@import "_mixins.less";
@import "_grid.less";

/* @group colors */

@color-accent: #278a9a;

/* @end */

/* @group fonts */

.font-family {
	font-family: "proxima-nova", sans-serif;
}
.light {
	font-weight: 100;
}
.regular {
	font-weight: 300;
}
.semibold {
	font-weight: 400;
}
.bold {
	font-weight: 700;
}

/* @end */

/* @group text formatting */



/* @end */

/* @group forms */



/* @end */

/* @group body styles */

html, body {
	height: 100%;
}
body {
    background: #FFF;
    .font-family;
    font-size: 18px;
    .light;
}

/* @end */

@import "_media.less";
